  body {
      font-family: proxima-nova;
    }
	 html {
      scroll-behavior: smooth;
    }
 .headercontainer {
	 background: linear-gradient(#fff, #fff);
     padding-top:30px;
 }
 .scroll-arrow {
      position: absolute;
      top: 215px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      color: white;
      cursor: pointer;
      animation: bounce 2s infinite;
    }
	.zoom-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    .zoom-image:hover img {
      transform: scale(0.5); /* Zoom in */
    }
  /* Show dropdown on hover */
    .dropdown:hover .dropdown-menu  {
      display: block;
    }
    .dropdown-menu {
      width: 950px;
      display: none;
      padding: 1rem;
    }
	.dropdown-menu2 {
      width: 600px;
      display: none;
      padding: 1rem;
    }
	.dropdown-menu1 {
      width: 60px;
      display: none;
      padding: 1rem;
    }
    .dropdown-column {
      float: left;
      width: 33.33%;
      min-height: 100px;
      padding: 0 1rem;
    }
    .submenu {
      display: none;
      padding-left: 0;
      margin-top: 0.5rem;
    }
    .submenu.show {
      display: block;
    }
.overlay-content {
      position: absolute;
      top: 50%;
      left: 20%;
      color: white;
      text-align: center;
      z-index: 1;
    }

    .overlay-content h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    .overlay-content .btn {
      margin-top: 1rem;
    }
 .video-container {
       position: relative;
      width: 100%;
      height: 100vh; /* full viewport height */
      overflow: hidden;
 margin-top:110px;
    }

    .video-container video {
    position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: -1;
    }
	.casestudy{
		color:#fff;
		font-size:3rem;
	}
	.terminal{
		color:#fff;
		margin-top:40px;
	}
	/*video modal popup*/
	.video-thumbnail {
      position: relative;
      cursor: pointer;
    }

    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3rem;
      color: white;
      transform: translate(-50%, -50%);
      background: #297f94;
      border-radius: 50%;
      padding: 15px 20px;
    }
	.play-button1 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3rem;
      color: white;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 15px 20px;
    }


    .modal-video {
      width: 100%;
      height: 400px;
    }
	.para1container{
		background-color:#341d55;
		width: 403px;
	}
	.itemcontainer{
		width:338px;
		height:392px;
	}
	.para1{
		background-color:#341d55;
		padding:70px 0 0 35px;
	}
	.para2{
		background-color:blue;
		padding:70px 0 0 35px;
	}
	.headingtxt{
		text-transform:uppercase;
		font-size:24px;
		color:#fff;
	}
	.paratxt{
		color:#fff;
		font-size:18px;
	}
	.readmoretxt{
		color:#fff;
		font-weight:bold;
		font-size:20px;
		text-transform:uppercase;
		text-decoration: none; 
	}
	.readmorearrow{
		font-size:24px;
		color:#FFF
	}
	.image-container {
      position: relative;
      width: 100%;
      
    }
    .image-container img {
      width: 100%;
      height: auto;
	  
    }
    .text-over {
      position: absolute;
      top: 60px;
      left: 50px;
      color: white;
      font-size: 3.5rem;
      font-weight: bold;
      z-index: 2;
      padding: 20px;
    }
	.text-over1 {
      position: absolute;
      top: 60px;
      left: 50px;
      color: white;
      font-size: 2.5rem;
      font-weight: bold;
      z-index: 2;
      padding: 20px;
    }
    
	.heading {
      transition: all 0.3s ease;
      cursor: pointer;
	  color:#fff;
	  padding:70px 0 0 70px;
	  font-size:4rem;
	  font-weight:bold;
    }
	.reveal-text {
      display: none;
      font-size: 2rem;
	  color:#fff;
	  padding-left:70px;
    }

    .heading.hovered {
      transform: translateY(-10px);
      color: #fff;
    }
.formhead{
	font-weight:bold;
}
.zoom-image {
      overflow: hidden;
       width: 338px; /* Set desired width */
      height: 392px; /* Set desired height */
    }

    .zoom-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    .zoom-image:hover img {
      transform: scale(1.2); /* Zoom in */
    }